@import '../../variables.scss';
.content-wrapper {
    width: min-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 14.5rem 1fr;
    grid-template-rows: 3.125rem 1fr;
    grid-auto-rows: auto;
    gap: $gaps;
    
}