@import '../../variables.scss';

.filter {
    margin-top: 1.25rem;
}

.filter-list {
    width: 14.5rem;
    height: 15.75rem;
    grid-column: 0 / 1;
    padding: 1.25rem;
    background: #FFF;
    @include outer-borders;
}
.title {
    @include font650;
}
.list {
    list-style: none;
}
