@import '../../variables.scss';

.filter-list {
    width: 100%;
    height: min-content;
    grid-column: 1;
    padding: 1.25rem;
    background: #FFF;
    @include outer-borders;
    @media (max-width: $media-l) {
        width: inherit;
        grid-column: 1;
        grid-row: 1;
        
    }
}
.title {
    @include font650;
}
.list {
    list-style: none;
    @media (max-width: $media-l) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.filter {
    margin-top: 1.25rem;
    @media (max-width: $media-l) {
        min-width: 8rem;
    }
}
