@font-face {
  font-family: 'App font';
  src: url(../src/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}

body {
  background: #f3f7fa;
  font-family: 'App font';
  font-style: normal;
  font-weight: 400;
  line-height: 0.75rem;
  letter-spacing: 0.03125rem;
}
main {
  max-width: 60rem;
  margin: 0 auto;
}
