$primary-brand-color: #2196F3;
$primary-text-color: #4A4A4A;
$second-color: #A0B0B9;
$check-box-border: #9ABBCE;
$second-border-color: #DFE5EC;
$outer-border-radius: 0.3125rem;

$outline-hover: 3px solid rgba(33, 150, 243, .6);

$ticket-width: 31.375rem;

$gaps: 1.25rem;


$media-l: 551px;
$media-tablet: 720px;


@mixin outer-borders {
    border: none;
    border-radius: $outer-border-radius;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
}
@mixin font650 {
    font-family: 'App font';
    // color: $primary-text-color;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.75rem;
}
@mixin checkbox-styles {
    width: 1.25rem;
    height: 1.25rem;
    vertical-align: text-bottom;
    border: 1px solid $check-box-border;
    border-radius: 0.15rem;
    transition: all .02s;
    margin-right: 0.62rem;
}
@mixin tabs-form{
    width: 100%;
    height: 3.125rem;
    @include outer-borders;
    @include font650;
}
@mixin error {
    width: max-content;
    top: 8.5rem;
    left: 50%;
    transform: translate(-50%);
    padding: 1rem;
    z-index: 1;
    text-align: center;
    @include outer-borders;
    @include font650;
    background-color: rgba(233, 198, 104, 0.5);

}
